$blue: #08455c;
$light_blue: #72C4EE;
$green: #76c299;
$red: #f0535e;
$yellow: #fde959;
$light_yellow: #fbf6b9;
$light_green: #f2f4e7;
$grey: #58595b;
$light_grey: #888;
$very_light_grey: #e6e6e6;
$mid_grey: #999;
$white: #ffffff;
$black: #2d2d2d;
