html {
  @include breakpoint(overlarge, large) {
    font-size: 28px;
  }
  @include breakpoint(medium) {
    font-size: 22px;
  }
  @include breakpoint(small) {
    font-size: 18px;
  }
}

body {
  background-color: mix($light_yellow, $white, 60%);
  color: $black;
  line-height: 1.45;
}

.nameplate {
  background: url("/images/oliviak-comp.svg") top left no-repeat;
  @include breakpoint(overlarge, large) {
    background-size: 200px auto;
    width: 200px;
    height: 35px;
    margin: 40px auto 0 0;
  }
  @include breakpoint(medium) {
    background-size: 200px auto;
    width: 200px;
    height: 35px;
    margin: 40px auto 0 0;
  }
  @include breakpoint(small) {
    background-size: 140px auto;
    width: 140px;
    height: 24px;
    margin: 30px auto 0 0;
  }

  a {
    display: block;
    text-indent: -5000px;
  }
}
