#game {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.content {
  @include breakpoint(large, overlarge) {
    max-width: 500px;
  }
  @include breakpoint(medium) {
    max-width: 380px;
  }
  @include breakpoint(small) {
    max-width: 240px;
    margin-top: 20px;
  }
  min-width: 200px;
  margin: 0 auto;
  overflow: visible;
  position: relative;
}

  .content__column {
    margin-top: 25px;
    padding: 20px 2px 0 2px;
    position: relative;

    h2 {
      @include h3;
      position: relative;
      margin-top: 0 !important;

      span {
        position: absolute;
        top: 0;
        left: -5000px;
      }

      a {
        color: $green;
      }
    }

    h3 {
      @include h4;
      @include breakpoint(overlarge, large) {
        margin-top: 20px;
        padding-bottom: 30px;
        margin-bottom: 30px;
      }
      @include breakpoint(medium) {
        font-size: 1.9em;
        margin-top: 20px;
        padding-bottom: 25px;
        margin-bottom: 25px;
      }
      @include breakpoint(small) {
        font-size: 2.2em;
        margin-top: 20px;
        padding-bottom: 20px;
        margin-bottom: 20px;
      }
      position: relative;
      text-align: right;
      width: 100%;

      span {
        position: absolute;
        top: 0;
        left: -5000px;
      }

      a {
        color: $green;
      }
    }

    p, ul {
      @include p;
      text-align: justify;
      list-style: none;
    }

    ul li {
      position: relative;
      padding-left: 1em;

      &:before {
        content: "";
        position: absolute;
        top: 4px;
        left: 0;
        border-radius: 50%;
        width: 5px;
        height: 5px;
        background-color: $green;
      }
    }

    .social {
      margin-right: 6px;

      span {
        position: absolute;
        top: 0;
        left: -5000px;
      }
    }
  }
